@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");

:root {
  --main-color: #c800ff;
  --secondary-color: #e06cfd;
  --lighter-color: #d5ade5;
  --light-color: #af75bc;
  --dark-color: #3b2142;

  --font-smaller: 14px;
  --font-bigger: 20px;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--dark-color);
  *background-color: var(--dark-color);
  background-image: url(../public/kapalak5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.25;
  margin: 0 0 0.5em;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2em;
}
